---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Home | Designo">
	<Header />
	<main>
		<section
			class="matrix-hero-bg relative mt-[34px] flex flex-col items-center overflow-hidden bg-peach bg-[url(/home/desktop/bg-pattern-hero-home.svg)] bg-[left_top_102px] bg-no-repeat px-6 pb-[451px] pt-20 text-center"
		>
			<h2 class="text-[32px]/[36px] font-medium text-white">
				Award-winning custom designs and digital branding solutions
			</h2>
			<p class="mt-[14px] text-[15px]/[25px] font-normal text-white">
				With over 10 years in the industry, we are experienced in creating fully responsive
				websites, app design, and engaging brand experiences. Find out more about our services.
			</p>
			<button
				class="mt-6 rounded-lg bg-white px-6 pb-4 pt-[18px] text-[15px]/[22px] font-medium uppercase tracking-[1px] text-dark-grey"
				>Learn more</button
			>
			<div
				class="absolute -bottom-[200px] h-[573px] w-[284px] bg-[url(/home/desktop/image-hero-phone.png)] bg-center drop-shadow-[20px_-40px_80px_rgba(93,2,2,0.5)]"
			>
			</div>
		</section>

		<section class="mx-6 mt-[120px] flex flex-col gap-6">
			<Project name="web" />
			<Project name="app" />
			<Project name="graphic" />
		</section>
		<section class="mx-6 mt-[120px] flex flex-col gap-20">
			<article class="flex flex-col items-center text-center">
				<img
					class="matrix-passionate bg-[url(/shared/desktop/bg-pattern-small-circle.svg)]"
					src="/home/desktop/illustration-passionate.svg"
					alt="Passionate"
				/>
				<h3 class="mt-12 text-xl font-medium uppercase tracking-[5px] text-dark-grey">
					Passionate
				</h3>
				<p class="mt-8 text-base font-normal text-dark-grey">
					Each project starts with an in-depth brand research to ensure we only create products that
					serve a purpose. We merge art, design, and technology into exciting new solutions.
				</p>
			</article>
			<article class="flex flex-col items-center text-center">
				<img
					class="matrix-resourceful bg-[url(/shared/desktop/bg-pattern-small-circle.svg)]"
					src="/home/desktop/illustration-resourceful.svg"
					alt="Resourceful"
				/>
				<h3 class="mt-12 text-xl font-medium uppercase tracking-[5px] text-dark-grey">
					Resourceful
				</h3>
				<p class="mt-8 text-base font-normal text-dark-grey">
					Everything that we do has a strategic purpose. We use an agile approach in all of our
					projects and value customer collaboration. It guarantees superior results that fulfill our
					clients&apos; needs.
				</p>
			</article>
			<article class="matrix-friendly flex flex-col items-center text-center">
				<img
					class="bg-[url(/shared/desktop/bg-pattern-small-circle.svg)]"
					src="/home/desktop/illustration-friendly.svg"
					alt="Friendly"
				/>
				<h3 class="mt-12 text-xl font-medium uppercase tracking-[5px] text-dark-grey">Friendly</h3>
				<p class="mt-8 text-base font-normal text-dark-grey">
					We are a group of enthusiastic folks who know how to put people first. Our success depends
					on our customers, and we strive to give them the best experience a company can provide.
				</p>
			</article>
		</section>
	</main>
	<Footer />
</Layout>
