---
const { page, para } = Astro.props;
---

<section class="mt-8 bg-peach px-6 py-[105px] text-center text-white">
	<h2 class="text-[32px]/[36px] font-medium">{page} design</h2>
	<p class="mt-6">{para}</p>
</section>
