<header class="flex items-center justify-between px-6 pt-[35px]">
	<h1>
		<img src="/shared/desktop/logo-dark.png" alt="Designo logo" width="202" height="27" />
	</h1>

	<button class="h-5 w-6 bg-[url(/shared/mobile/icon-hamburger.svg)]" aria-label="Open menu"
	></button>

	<nav class="hidden">
		<ul>
			<li>Our Company</li>
			<li>Locations</li>
			<li>Contact</li>
		</ul>
	</nav>
</header>
